<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard - Aurora Library</title>
		<link rel="stylesheet" href="/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		/>
	</head>
	<body>
		<div class="dashboard-container">
			<div class="sidebar">
				<h2>Aurora Library</h2>
				<hr />
				<ul>
					<li>
						<a href="#" class="active"><i class="fas fa-home"></i>Home</a>
					</li>
					<li>
						<a href="#"><i class="fas fa-book"></i>Books</a>
					</li>
					<li>
						<a href="#"><i class="fas fa-users"></i>Book Clubs</a>
					</li>
					<li>
						<a href="#"
							><i class="fas fa-book-reader"></i>Borrowed Books</a
						>
					</li>
					<li>
						<a href="#"><i class="fas fa-cog"></i>Settings</a>
					</li>
					<li>
						<a href="/login"
							><i class="fas fa-sign-out-alt"></i> Logout</a
						>
					</li>
				</ul>
			</div>
			<div class="main-content">
				<h1>Welcome, Book Lover</h1>
				<div class="info-cards">
					<div class="card">
						<p>Total Books</p>
						<h3>1500</h3>
					</div>
					<div class="card">
						<p>Book Clubs</p>
						<h3>12</h3>
					</div>
					<div class="card">
						<p>Borrowed Books</p>
						<h3>250</h3>
					</div>
					<div class="card">
						<p>Borrowed Returned</p>
						<h3>235</h3>
					</div>
				</div>
				<div class="activities-clubs">
					<div class="available-books">
						<h2>Recommended Books</h2>
						<div class="books-container">
							<div class="book">
								<img src="/ninthlife.jpeg" alt="Book 1" />
								<div class="book-info">
									<h5>The Ninth Life</h5>
									<p>Fiction</p>
								</div>
							</div>
							<div class="book">
								<img src="/another.jpeg" alt="Book 2" />
								<div class="book-info">
									<h5>I Loved you in Another Life</h5>
									<p>Romance</p>
								</div>
							</div>
							<div class="book">
								<img src="/capture.jpeg" alt="Book 2" />
								<div class="book-info">
									<h5>Capture the Castle</h5>
									<p>Romance</p>
								</div>
							</div>
						</div>
					</div>
					<div class="clubs-activities">
						<div class="recent-activities">
							<h4>Recent Activities</h4>
							<ul>
								<li>
									Borrowed -
									<span class="book-title">"The Great Gatsby"</span>
								</li>
								<li>
									Returned - <span class="book-title">"1984"</span>
								</li>
								<li>
									Reserved -
									<span class="book-title">"Five Feet Apart"</span>
								</li>
								<li>
									Reserved -
									<span class="book-title"
										>"The Voice in my Head"</span
									>
								</li>
								<li>
									Borrowed -
									<span class="book-title">"Make it Happen"</span>
								</li>
							</ul>
						</div>
						<div class="book-clubs">
							<h4>Book Clubs</h4>
							<ul>
								<li>
									<span class="club-name"
										>Classic Literature Club</span
									>
									<div>
										<a href="#">View |</a>
										<a href="#" class="join">Join</a>
									</div>
								</li>
								<li>
									<span class="club-name">Sci-Fi Enthusiasts</span>
									<div>
										<a href="#">View |</a>
										<a href="#" class="join">Join</a>
									</div>
								</li>
								<li>
									<span class="club-name">Mystery Lovers</span>
									<div>
										<a href="#">View |</a>
										<a href="#" class="join">Join</a>
									</div>
								</li>
								<li>
									<span class="club-name">Wattpad Dreamers</span>
									<div>
										<a href="#">View |</a>
										<a href="#" class="join">Join</a>
									</div>
								</li>
								<li>
									<span class="club-name">K-drama girlies</span>
									<div>
										<a href="#">View |</a>
										<a href="#" class="join">Join</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
