<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
		<link rel="stylesheet" href="/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		/>
	</head>
	<body>
		<div class="main">
			<div class="form-container">
				<h2>Login</h2>
				<form id="loginForm" action="" method="POST">
					<div class="form-group">
						<label for="email">Email address:</label>
						<input type="email" id="email" name="email" required />
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" id="password" name="password" required />
					</div>
					<div class="form-group">
						<button type="submit">
							<span class="button-text">Login</span>
							<i class="fas fa-spinner fa-spin button-spinner" style="display: none;"></i>
						</button>
					</div>
					<a class="toggle-link" href="signup">Don't have an account? Sign up</a>
				</form>
			</div>
		</div>
		<script src="/script.js"></script>
	</body>
</html>
